*{
	padding: 0;
	margin: 0;
	/* font-family: 'Josefin Sans', sans-serif; */
	overflow-x: hidden;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
}
.overflow{
	overflow-y: hidden;
}
.navbar{
	background-color: #cfcfe1;
	color: #E6E6FA;
}
.navbar-nav{
	padding-left: 300px;
	margin-left: 20px;
}
.nav-link{
	height: 50px;
	padding-left: 100px;
	display: inline-block;
	text-align: center;
	font-family: 'Monsterrat', sans-serif;
}
.nav-link:hover{
	border-bottom: 3px solid #7389F4;
}
.hero{
	color: white;
	position: relative;
	flex-direction: column;
	height: 100vh;
	background-image: url(images/website-aim-bg-img.png);
	background-size: 1280px;
	background-position: center;
}
.content{
	margin-top: 150px;
	left:5%;
	background: rgba(0,0,0,0.3);
	padding: 30px;

}


.website-aim-header{
	/* color: darkblue; */
	width: 90%;
	overflow: hidden;
	/* font-size: 75px; */
}
h4{
	color: white;
	letter-spacing: 1px;
    line-height: 20px;
	font-size: 13px;
	width: 90%;
	font-family: 'Monsterrat', sans-serif;
}
.prof-help-button{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    margin-left: 50px;
    border-radius: 20px;
    border: transparent;
    background-color: #7389F4;
    margin-bottom: 20px;
}
.prof-help-button a{
    text-decoration: none;
    color: #E6E6FA;
}
.prof-help-button:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.prof-help-btn-div{
	width: 90%;
}

.title h3{
	font-size: 45px;
	text-align: center;
	overflow: hidden;
	margin-top: 50px;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card1{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: white;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card1 i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
.articles h5{
	color: black;
	font-size: 23px;
	margin-bottom: 15px;
	overflow-y: hidden;
}
.pra{
	color: dimgray;
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 25px;
}
.box2{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.article-links{
	text-decoration: none;
	color: black;
}
.article-links:hover{
	text-decoration: underline;
}
.explore-more-btn{
    height: 50px;
    width: 200px;
    margin-left: 80%;
    border-radius: 25px;
    border: transparent;
    background-color: #E6E6FA;
	color: white;
    margin-top: 20px;
	margin-bottom: 20px;
}
.explore-more-btn:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.explore-more-btn-link{
    text-decoration: none;
}
@media screen and (max-width: 768px){
	.explore-more-btn{
		margin-left: 50%
	}
	.free-trial{
		margin-left: 30px;
	}
	.articles-para{
		padding-right: 50px;
		padding-left: 50px;
	}
	.footer-para, .footer-header, .citation{
		text-align: center;
	}
	.card{
		margin-left: 100px;
	}

}
@media  screen and (min-width: 768px) {
	.card{
		margin-left: 250px;
	}
	.free-trial{
		margin-left: 13%;
	}
	.articles-para{
		padding-left: 200px;
		padding-right: 200px;
	}
	
}
.meet-the-team-card{
	padding-top: 50px;
	text-align: center;

}
.meet-the-team-header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.meet-the-team h3{
	overflow-y: hidden;
}
/*end*/
footer{
    font-family: 'Monsterrat', sans-serif;
    background-color: #5e6fc6;
    color: #edeeff;
}

.footer-header{
    margin-left: 50px;
    font-size: 20px;
}
.fa-brands{
    font-size: 25px;
    padding-left: 20px;
    margin-left: 20px;
    color: #edeeff;
}
.citation{
    color: #edeeff;
    margin-left: 39%;
}

/* end-footer */
.team-imgs{
	width: 200px;
}
.article-img-1{
	width: 300px;
	height: 250px;
}
.article-img-2, .article-img-3{
	width: 250px;
	height: 250px;
}
/*about us*/
.card{
	font-family: 'Monsterrat', sans-serif;
	margin-top: 30px;
	width: 60%;
	/* margin-left: 250px; */
}
.about-us-header{
	font-family: 'Monsterrat', sans-serif;
	text-align: center;
}
.card-title{
	font-size: 30px;
}
.card-body{
	text-align: justify;
}
/* end about us */
/* start threapy */
.what-we-offer{
	font-size: 2em;
	text-align: center;
	font-weight: 600;
}
.prof-help{
	text-align: center;
}
.prof-help-para{
	text-align: justify;
	font-size: 20px;
	padding: 50px;
}
.threapy-pic{
	width: 500px;
	height: 500px;
	padding: 20px;
}
.sign-up-free-btn{
	margin-left: 30%;
}
.sign-up-free-link{
	text-decoration: none;
}
.free-trial{
	color: dimgray;
	/* margin-left: 18%; */
}
/* end threapy */
/* start membership */
.section-title{
	overflow-y: hidden;
}
.project-info h3{
	overflow-y: hidden;
}
a {
	text-decoration: none;
}
.container {
	/* min-height: 100vh; */
	/* width: 100%; */
	/* display: flex; */
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
}
.project-img {
	object-fit: cover;
	size: 100% 100%;
}
.plans {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
/* Projects section */
#projects .projects {
	flex-direction: column;
	/* max-width: 1200px; */
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	/* height: 100%; */
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: justify;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
	overflow-y: hidden;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
	overflow-y: hidden;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	/* height: px; */
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */


/* end membership */
/* start article main */
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.article-img {
	height: 400px;
	width: 400px;
	object-fit: cover;
	margin-left: 100px;
	margin-top: 50px;

}
.article-para {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	text-align: justify;
}
.section-title {
	font-size: 3rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/* Hero Section */
#hero2 {
	background-image: url(images/background.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero2 .hero-article {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero2 h1 {
	display: block;
	width: fit-content;
	font-size: 3rem;
	position: relative;
	color: white;
}
/* End Hero Section */

/* Services Section */

/* End Services Section */
/* About Section */
#about .about {
	/* flex-direction: column-reverse; */
	/* text-align: center; */
	/* max-width: 1200px; */
	margin: 0 auto;
	padding: 100px 20px;
}
/* #about .col-left {
	width: 250px;
	height: 360px;
} */
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	/* position: relative; */
	border: 10px solid white;
	overflow-y: hidden;
}
/* #about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
} */
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */
	/* About */
	/* #about .about {
		flex-direction: row;
	} */
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid black;
	}
	/* #about .col-right {
		text-align: left;
		padding: 30px;
	} */
	/* #about .col-right h1 {
		text-align: left;
	} */
	/* End About */
	.mental-health{
		margin-bottom: 50px;
	}
	#courses{
		justify-content: space-around;
		text-align: center;
	}
	
	#courses img{
		border-radius: 10px;
		margin: auto;
	}
	
	.apply{
		margin-top: 4%;
		background-color: #7389F4;
		padding: 0.7rem 1rem;
		color: #fff;
		border: none;
		border-radius: 10px;
	}
/* end article main */
.articles-main-h1{
	font-weight: 600;
}
.articles-main-p{
	font-size: 1.5em;
}
.articles-main-para{
	font-size: 1.2em;
	text-align: justify;
}
.section{
	margin-top: 100px;
}
.articles-main-h1, .articles-main-p, .articles-main-para{
	padding: 20px;
}
/* stress is dangerous */
.stress-is-dangerous-img{
	width: 100%;
	height: 120vh;
}
.article-header{
	font-size: 1.7em;
}
.article-info{
	text-align: center;
	justify-content: left;
	margin-bottom: 50px;
}
.articles-para{
	text-align: justify;
}
.go-back-btn{
	text-decoration: none;
}
.go-back-btn:hover{
	color: white;
}

/* stress is dangerous */

